<!DOCTYPE html>
<html>

  <body>
    <div class="dogcreation">
      <p class="button"><%= link_to 'Back', dogs_path %></p>
      <h1>Edit Dog</h1>

      <%= render "form", dog: @dog %>

      <p class="button" id="bottombutton"><%= link_to 'Back', dogs_path %></p>
    </div>

  </body>

</html>
