<main>
  <div class="left">
    <h1>Dog Lists</h1>
    <p>Lost your dog? Check out our Found Dogs list to see if anyone has found them before creating a new entry.<br/>
    Found a dog? Check out our Lost Dogs list to see if anyone has reported that dog before creating a new entry.</p>
  </div>
  <div class="right">
    <p class="button"> <%= link_to "Dog Lists", lists_path%> </p>
    <p class="button"> <%= link_to "Add a New Dog", welcome_new_path%> </p>
  </div>
</main>
