
<main class="newdog">
  <div class="filter">
    <div class="top">
      <h1>Dog Lists</h1>
      <p>Lost your dog? Found a dog? Post a new entry here to get them home faster!</p>
    </div>

    <div class="bottom">
      <p class="button"><%= link_to 'Add New Dog', new_dog_path %></p>
    </div>
  </div>
</main>
